In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split,
from sklearn.metrics import mean_squared_error
from sklearn.linear_model import LinearRegression

In [2]:
'''Fetching cleaned dataset'''
df = pd.read_csv('D:\Projects\coditas_project\dataset\data_cleaned.csv')
df.head()

,index,key,fare_amount,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,is_pickup_JFK,...,is_dropoff_LGA,is_pickup_EWR,is_dropoff_EWR,pickup_date,pickup_day,pickup_hour,pickup_day_of_week,pickup_month,pickup_year,trip_distance
0,24238194,2015-05-07 19:52:06.0000003,7.5,2015-05-07 19:52:06,-73.999817,40.738354,-73.999512,40.723217,1,0,...,0,0,0,2015-05-07,7,19,4,5,2015,1.045968
1,27835199,2009-07-17 20:04:56.0000002,7.7,2009-07-17 20:04:56,-73.994355,40.728225,-73.994710,40.750325,1,0,...,0,0,0,2009-07-17,17,20,5,7,2009,1.527076
2,44984355,2009-08-24 21:45:00.00000061,12.9,2009-08-24 21:45:00,-74.005043,40.740770,-73.962565,40.772647,1,0,...,0,0,0,2009-08-24,24,21,1,8,2009,3.129460
3,25894730,2009-06-26 08:22:21.0000001,5.3,2009-06-26 08:22:21,-73.976124,40.790844,-73.965316,40.803349,3,0,...,0,0,0,2009-06-26,26,8,5,6,2009,1.032522
4,17610152,2014-08-28 17:47:00.000000188,16.0,2014-08-28 17:47:00,-73.925023,40.744085,-73.973082,40.761247,5,0,...,0,0,0,2014-08-28,28,17,4,8,2014,2.780916

In [3]:
'''Droping the unuseful columns'''
drop_columns=['key','pickup_datetime','pickup_date', 'index']
df_after_drop = df.drop(drop_columns,axis=1)

In [4]:
df_after_drop.head()

,fare_amount,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count,is_pickup_JFK,is_dropoff_JFK,is_pickup_LGA,is_dropoff_LGA,is_pickup_EWR,is_dropoff_EWR,pickup_day,pickup_hour,pickup_day_of_week,pickup_month,pickup_year,trip_distance
0,7.5,-73.999817,40.738354,-73.999512,40.723217,1,0,0,0,0,0,0,7,19,4,5,2015,1.045968
1,7.7,-73.994355,40.728225,-73.994710,40.750325,1,0,0,0,0,0,0,17,20,5,7,2009,1.527076
2,12.9,-74.005043,40.740770,-73.962565,40.772647,1,0,0,0,0,0,0,24,21,1,8,2009,3.129460
3,5.3,-73.976124,40.790844,-73.965316,40.803349,3,0,0,0,0,0,0,26,8,5,6,2009,1.032522
4,16.0,-73.925023,40.744085,-73.973082,40.761247,5,0,0,0,0,0,0,28,17,4,8,2014,2.780916

In [5]:
x=df_after_drop.drop(['fare_amount'],axis=1) # Selecting all non-target variables
y = df_after_drop['fare_amount'] # Target Variable

In [6]:
''''split data into train and validation data'''
X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.2) # Spliting data into train and test
print("Number of records in training data ",X_train.shape[0])
print("Number of records in validation data ",X_test.shape[0])

Number of records in training data  152676
Number of records in validation data  38169

Analysing the result using rmse 
Which is root mean square error

In [7]:
'''Training a simple linear regression model'''
lm = LinearRegression() # Defining linear regression model
lm.fit(X_train,y_train) # Fit on the training dataset
y_pred=lm.predict(X_test) # Predicting test data 
lm_rmse=np.sqrt(mean_squared_error(y_pred, y_test)) 
print("RMSE for Linear Regression is ",lm_rmse)

RMSE for Linear Regression is  5.472961043780592

Random Forest

In [8]:
'''Traing the Radom Forest Regressor'''
from sklearn.ensemble import RandomForestRegressor

clf = RandomForestRegressor(max_depth=140,max_features='auto',min_samples_leaf=10,n_estimators=400) # Defining Regression model after hyperparameter tunning
clf.fit(X_train, y_train) # Training the model
y_pred = clf.predict(X_test) # Predicting on the prediction dataset 
rf_rmse = np.sqrt(mean_squared_error(y_pred, y_test)) # Calculating rmse ===> Root mean squared error
print("RMSE FOR RANDOM FOREST IS",rf_rmse)

C:\Users\ASUS\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.10_qbz5n2kfra8p0\LocalCache\local-packages\Python310\site-packages\sklearn\ensemble\_forest.py:416: FutureWarning: `max_features='auto'` has been deprecated in 1.1 and will be removed in 1.3. To keep the past behaviour, explicitly set `max_features=1.0` or remove this parameter as it is also the default value for RandomForestRegressors and ExtraTreesRegressors.
  warn(

RMSE FOR RANDOM FOREST IS 4.588593055306849